main.aux
main.bbl
main.blg
main.lof
main.log
main.lot
main.maf
main.mtc
main.mtc0
main.mtc1
main.mtc2
main.mtc3
main.mtc4
main.mtc5
main.mtc6
main.mtc7
main.mtc8
main.mtc9
main.mtc*
main.out
main.toc
main.pdf
MinorCorrections/MinorCorrections.aux
MinorCorrections/MinorCorrections.fdb_latexmk
MinorCorrections/MinorCorrections.fls
MinorCorrections/MinorCorrections.log
MinorCorrections/MinorCorrections.out
MinorCorrections/MinorCorrections.pdf
MinorCorrections/MinorCorrections.synctex.gz
Questions/Thesis_questions.aux
Questions/Thesis_questions.fdb_latexmk
Questions/Thesis_questions.fls
Questions/Thesis_questions.log
Questions/Thesis_questions.out
Questions/Thesis_questions.pdf
Questions/Thesis_questions.synctex.gz
Questions/Thesis_questions.txt